<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageRestore>
        <add key="enabled" value="true"/>
        <add key="automatic" value="true"/>
    </packageRestore>

    <bindingRedirects>
        <add key="skip" value="false"/>
    </bindingRedirects>

    <packageManagement>
        <add key="format" value="0"/>
        <add key="disabled" value="false"/>
    </packageManagement>

    <packageSources>
        <clear/>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"
             allowInsecureConnections="false"/>
    </packageSources>

    <packageSourceMapping>
        <clear/>
        <packageSource key="nuget.org">
            <package pattern="*"/>
        </packageSource>
    </packageSourceMapping>
</configuration>